<td height="150" class="my_td" id="for_delete_image_{{good.pk}}">
    <input type="file" id="image-upload_{{good.pk}}" hidden
           name="photo_path_logistic_goods"
           hx-post="{% url 'analytics:edit_goods_logistic_requests' good.pk %}"
           hx-encoding='multipart/form-data'
           hx-trigger="change"
           hx-swap="none"/>
    <img src="{% if good.photo_path_logistic_goods %}{{ good.photo_path_logistic_goods.url }}{% else %}{% endif %}"
         id="image-preview_{{good.pk}}" class="image_for_request" style="">
    <div class="middle">
        <label for="image-upload_{{good.pk}}" class="form-control" style="border: none;font-size: 50px;">
            <i class="fa-regular fa-image"></i>
        </label>
    </div>
    <div class="top-right">
        <i class="fa-solid fa-rectangle-xmark" style="z-index: 10;cursor: pointer;color: red;font-size: 25px;"
           hx-get="{% url 'analytics:edit_goods_logistic_requests' good.pk %}?delete=on"
           hx-encoding='multipart/form-data'
           hx-trigger="click"
           hx-target="#for_delete_image_{{good.pk}}"
           hx-swap="outerHTML"></i>
    </div>
    <script>
        var input = document.getElementById('image-upload_{{good.pk}}');
        input.addEventListener('change', function() {
            var file = this.files[0];
            var reader = new FileReader();
            reader.onloadend = function() {
                document.getElementById('image-preview_{{good.pk}}').src = reader.result;
                }
            reader.readAsDataURL(file);
        });
    </script>
</td>