
    {% if user.role == 'Супер Администратор' or user.role == 'Администратор' or user.role == 'Логист'%}
    <a href="{% url 'main:exchangerates' %}" class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" >
        <i class="fa-solid fa-yen-sign"></i> <i class="fa-solid fa-credit-card" style=""></i>{{ last_currency.yuan|default:"Курс ожидается" }}
        | <i class="fa-solid fa-yen-sign"></i> <i class="fa-solid fa-sack-dollar"></i> {{ last_currency.yuan_non_cash|default:"Курс ожидается" }}
        | <i class="fa-solid fa-dollar-sign"></i> {{ last_currency.dollar|default:"Курс ожидается" }}
    </a>
    {% else %}
    {% if 'leaderboard' in request.path %}
    <h3 class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" >
        ¥ <i class="fa-solid fa-credit-card"></i>{{ last_currency.yuan|default:"Курс ожидается" }}
        | ¥ <i class="fa-solid fa-sack-dollar"></i> {{ last_currency.yuan_non_cash|default:"Курс ожидается" }}
        | $ {{ last_currency.dollar|default:"Курс ожидается" }}
    </h3>
    {% else %}
    <span class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" >
    ¥ <i class="fa-solid fa-credit-card"></i>{{ last_currency.yuan|default:"Курс ожидается" }}
    | ¥ <i class="fa-solid fa-sack-dollar"></i> {{ last_currency.yuan_non_cash|default:"Курс ожидается" }}
    | $ {{ last_currency.dollar|default:"Курс ожидается" }}
</span>
    {% endif %}
    {% endif %}
