{% load static %}
<div class="container-fluid d-flex flex-column flex-md-row align-items-center pb-0 mb-3 border-bottom shadow-sm p-1">
  <a href="{% url 'home' %}" class="d-inline-flex pb-2 align-items-center link-body-emphasis text-decoration-none">
    <img src="{% static 'main/images/logo-1.svg' %}" width="40" height="32" class="me-1" id="logo">
    <span class="fs-2">Транслогистик </span>
  </a>
  {% if user.is_authenticated %}<span class="d-inline-flex pt-0 mt-2 mt-md-0 ms-md-auto "><i class="fa-solid fa-user pt-1"></i>{{ user.last_name }} {{ user.first_name }}</span>{% endif %}
  {% if user.is_authenticated %}
  {% if user.role == 'Супер Администратор' or user.role == 'Администратор'%}
  {% if last_currency %}
  <a href="{% url 'exchangerates' %}" class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" >¥ {{ last_currency.yuan }}  $ {{ last_currency.dollar }}</a>
  {% elif last_currency.yuan %}
  <a href="{% url 'exchangerates' %}" class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" >¥ {{ last_currency.yuan }}  $ Курс ожидается</a>
  {% elif last_currency.dollar %}
  <a href="{% url 'exchangerates' %}" class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" >¥ Курс ожидается  $ {{ last_currency.dollar }}</a>
  {% else %}
  <a href="{% url 'exchangerates' %}" class="d-inline-flex mt-2 ms-md-auto link-body-emphasis text-decoration-none" ><span class="font-weight-bold">¥ Курс ожидается $ Курс ожидается</span></a>
  {% endif %}
  {% else %}
  {% if 'leaderboard' in request.path %}
  {% if last_currency %}
  <h3 class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" >¥ {{ last_currency.yuan }}  $ {{ last_currency.dollar }}</h3>
  {% elif last_currency.yuan %}
  <h3 class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" >¥ {{ last_currency.yuan }}  $ Курс ожидается</h3>
  {% elif last_currency.dollar %}
  <h3 class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" >¥ Курс ожидается  $ {{ last_currency.dollar }}</h3>
  {% else %}
  <h3 class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" ><span class="font-weight-bold">¥ Курс ожидается $ Курс ожидается</span></h3>
  {% endif %}
  {% else %}
  {% if last_currency %}
  <span class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" >¥ {{ last_currency.yuan }}  $ {{ last_currency.dollar }}</span>
  {% elif last_currency.yuan %}
  <span class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" >¥ {{ last_currency.yuan }}  $ Курс ожидается</span>
  {% elif last_currency.dollar %}
  <span class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" >¥ Курс ожидается  $ {{ last_currency.dollar }}</span>
  {% else %}
  <span class="d-inline-flex mt-2 mt-md-0 ms-md-auto link-body-emphasis text-decoration-none" ><span class="font-weight-bold">¥ Курс ожидается $ Курс ожидается</span></span>
  {% endif %}
  {% endif %}
  {% endif %}
  {% if user.role == 'Клиент'%}
  <span class="d-inline-flex mt-2 mt-md-0 ms-md-auto text-decoration-none">
                <i class="fa-solid fa-wallet"> &ensp;</i>
                <i class="fa-solid fa-ruble-sign"> 1000&ensp;</i>
                <i class="fa-solid fa-dollar-sign"> 1000&ensp;</i>
                <i class="fa-solid fa-yen-sign"> 1000</i>
            </span>
  {% endif %}
  <nav class="navbar navbar-expand d-inline-flex mt-0 mt-md-0 ms-md-auto">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% for m in menu %}
          {% if m.url_name in request.path %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url m.url_name %}">{{m.title}}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link " href="{% url m.url_name %}">{{m.title}}</a>
          </li>
          {% endif %}
          {% endfor %}
          {% if request.user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выйти</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% endif %}
</div>