{% load static %}
<div class="container-fluid d-flex flex-column flex-md-row align-items-center pb-0 mb-3 border-bottom shadow-sm p-1">
  <a href="{% url 'main:login' %}" class="d-inline-flex pb-2 align-items-center link-body-emphasis text-decoration-none">
    <img src="{% static 'main/images/logo-1.svg' %}" width="40" height="32" class="me-1" id="logo">
    <span class="fs-2">Транслогистик </span>
  </a>
  {% if user.is_authenticated %}
  <span class="d-inline-flex pt-0 mt-2 mt-md-0 ms-md-auto "><i class="fa-solid fa-user pt-1"></i>{{ user.last_name }} {{ user.first_name }}</span>
  {% include "main/components/last_currency.html"  %}
  {% if user.role == 'Клиент'%}
  {% include "main/components/client_wallet.html"  %}
  {% endif %}
  <nav class="navbar navbar-expand d-inline-flex mt-0 mt-md-0 ms-md-auto">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% for m in menu %}
          {% if m.short_url in request.path %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url m.url_name %}">{{m.title}}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url m.url_name %}">{{m.title}}</a>
          </li>
          {% endif %}
          {% endfor %}
          {% if request.user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'main:logout' %}">Выйти</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% endif %}
</div>