<nav aria-label="Навигация по страницам">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
        {% endif %}
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
        {% endif %}
    </ul>
</nav>