{% load static %}
<div class="sidebar close">
    <div id="sidebarBtn" class="logo-details">
        <i  class="fa-solid fa-bars"></i>
        <span class="logo_name">Транслогистик</span>
    </div>
    <ul class="nav-links">
        {% for cat in menu %}

        {% if cat.sub_menu %}
        <li>
            <div class="icon-link">
                <a href="{% url cat.basic.url_name %}">
                    {% if cat.name == 'Логистика' %}
                    <i class="fa-solid fa-truck-arrow-right"></i>
                    {% elif cat.name == 'Курсы валют' %}
                    <i class="fa-solid fa-coins"></i>
                    {% elif cat.name == 'Мониторинг' %}
                    <i class="fa-solid fa-chart-simple"></i>
                    {% elif cat.name == 'Сотрудники' %}
                    <i class="fa-solid fa-user-plus"></i>
                    {% elif cat.name == 'Клиенты' %}
                    <i class="fa-solid fa-clipboard-user"></i>
                    {% elif cat.name == 'Заявки' %}
                    <i class="fa-solid fa-clipboard-list"></i>
                    {% endif %}
                    <span class="link_name">{{cat.name}}</span>
                </a>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </div>
            <ul class="sub-menu">
                {% if cat.basic %}
                <li><a class="link_name" href="{% url cat.basic.url_name %}">{{cat.name}}</a></li>
                {% else %}
                <li><a class="link_name" href="">{{cat.name}}</a></li>
                {% endif %}

                {% for sub in cat.sub_menu %}
                <li><a href="{% url sub.url_name %}">{{sub.title}}</a></li>
                {% endfor %}

            </ul>
        </li>
        {% else %}
        <li>
            <a href="{% url cat.basic.url_name %}">
                {% if cat.name == 'Логистика' %}
                <i class="fa-solid fa-truck-arrow-right"></i>
                {% elif cat.name == 'Курсы валют' %}
                <i class="fa-solid fa-coins"></i>
                {% elif cat.name == 'Мониторинг' %}
                <i class="fa-solid fa-chart-simple"></i>
                {% elif cat.name == 'Сотрудники' %}
                <i class="fa-solid fa-user-plus"></i>
                {% elif cat.name == 'Клиенты' %}
                <i class="fa-solid fa-clipboard-user"></i>
                {% elif cat.name == 'Заявки' %}
                <i class="fa-solid fa-clipboard-list"></i>
                {% endif %}
                <!--                        <i class="fa-solid fa-border-all"></i>-->
                <span class="link_name">{{cat.name}}</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url cat.basic.url_name %}">{{cat.name}}</a></li>
            </ul>
        </li>
        {% endif %}
        {% endfor %}
        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <a href="{% url 'main:home' %}"><img src="{% static 'main/images/user-large-solid.svg' %}" alt="profile"></a>
                </div>
                <div class="name-job">
                    <div class="profile_name">{{ user.last_name }} {{ user.first_name }}</div>
                    <div class="job">{{ user.role }}</div>
                </div>
                <a href="{% url 'main:logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
        </li>
    </ul>
</div>