{% load custom_filters %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive" style="border: 1px solid #000;
            overflow-y: auto;overflow-x: auto;height: 68vh;">
                <table class="table align-middle table-hover g-1"
                       style="font-size: 0.8rem;">
                    <thead class="table-dark " style="position: sticky;top: 0;left: 0;z-index: 10;">
                    <tr style="vertical-align: middle;">
                        <th width="10" scope="col">#</th>
                        <th scope="col">Оператор</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Имя клиента</th>
                        <th scope="col">Контактный номер</th>
                        <th scope="col">Город клиента</th>
                        <th scope="col">Комментарий по звонку</th>
                        <th scope="col">Дата следующего звонка</th>
                        <th scope="col">Ответственный менеджер</th>
                        <th scope="col">Дата передачи менеджеру</th>
                    </tr>
                    </thead>
                    <tbody class="table-light">
                    {% for call in calls %}
                    <tr data-bs-toggle="modal"
                        data-bs-target="#hx-modal"
                        hx-get="{% url 'main:edit_calls' call.pk %}"
                        hx-target="#hx-modal-body"
                        id="call_{{ call.id }}"
                        style="cursor: pointer;">
                        <th scope="row">{{ call.pk }}</th>
                        <td>{{ call.operator.get_FI|default:"" }}</td>
                        <td>{{ call.status_call|default:"" }}</td>
                        <td>{{ call.client_name|default:"" }}</td>
                        <td>{{ call.client_phone|default:"" }}</td>
                        <td>{{ call.client_location|default:"" }}</td>
                        <td>{{ call.description|default:"" }}</td>
                        <td>{{ call.date_next_call|default:"" }}</td>
                        <td>{{ call.manager.get_FI|default:"" }}</td>
                        <td>{{ call.date_to_manager|default:"" }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Пагинация -->
{% if calls.paginator.num_pages != 1 %}
<div class="pagination mb-3">
        <span class="page-links">
            {% if calls.has_previous %}
                <a href="?page=1&{{ request.GET|urlencode_after_remove:'page' }}" class="page-link">&laquo; 1</a>
                <a href="?page={{ calls.previous_page_number }}&{{ request.GET|urlencode_after_remove:'page' }}" class="page-link"><</a>
            {% endif %}
            {% for i in page_range_ %}
                {% if calls.number == i %}
                    <span class="current-page page-link">{{ i }}</span>
                {% else %}
                    <a href="?page={{ i }}&{{ request.GET|urlencode_after_remove:'page' }}" class="page-link">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if calls.has_next %}
                <a href="?page={{ calls.next_page_number }}&{{ request.GET|urlencode_after_remove:'page' }}" class="page-link">></a>
                <a href="?page={{ calls.paginator.num_pages }}&{{ request.GET|urlencode_after_remove:'page' }}" class="page-link">{{ calls.paginator.num_pages }} &raquo;</a>
            {% endif %}
            <input type="number" id="pageInput" min="1" max="{{ calls.paginator.num_pages }}" value="{{ calls.number }}" class="form-control form-control-sm d-inline-block p-2" style="width: 65px;">
            <button id="goToPage" class="btn btn-sm btn-primary">Перейти</button>
        </span>
</div>
{% endif %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    // Обработчик кнопки "Перейти"
    document.getElementById('goToPage').addEventListener('click', function () {
        let pageInput = document.getElementById('pageInput');
        let pageNumber = parseInt(pageInput.value, 10);
        if (isNaN(pageNumber)) {
            alert("Введите корректный номер страницы.");
            return;
        }
        if (pageNumber >= 1 && pageNumber <= {{ calls.paginator.num_pages }}) {
            let urlParams = new URLSearchParams(window.location.search);
            urlParams.set('page', pageNumber);
            window.location.search = urlParams.toString();
        } else {
            alert(`Введите номер страницы от 1 до {{ calls.paginator.num_pages }}`);
        }
    });
    document.querySelectorAll('.page-link').forEach(link => {
        link.addEventListener('click', function (event) {
            event.preventDefault();
            const pageNumber = new URL(this.href).searchParams.get('page');
            if (pageNumber) {
                window.location.href = this.href;
            }
        });
    });
});
</script>