{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <table class="table table-sm table-hover table-bordered shadow p-1  bg-white rounded">
        <thead>
        <tr class="table-secondary">
            <th scope="col" colspan="2" align="center">{% if appeal.status != 'В работе' %}
                <h2>Редактирование: {{ appeal.tag }}</h2>
                {% else %}
                <h2>{{ appeal.tag }}</h2>
                {% endif %}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-light">
            <td width="200"><h6>Статус заявки:</h6></td>
            <td ><h6>{{ appeal.status }}</h6></td>
        </tr>
        <tr class="table-light">
            <td><h6 >Клиент:</h6></td>
            <td><h6 >{{ client_fio }}</h6></td>
        </tr>
        <tr class="table-light">
            <td><h6 >Менеджер:</h6></td>
            <td><h6 >{{ manager_fio }}</h6></td>
        </tr>
        <tr class="table-light">
            <td><h6 >Количество позиций:</h6></td>
            <td><h6 >{{ all_goods|length }}</h6></td>
        </tr>
        <tr class="table-light">
            <td><h6 >Сумма выкупа:</h6></td>
            <td><h6 >¥ {{ goods_vycup|floatformat:"g" }} ₽ $</h6></td>
        </tr>
        <tr class="table-light">
            <td><h6 >Сумма логистики:</h6></td>
            <td><h6 >¥ {{ goods_log|floatformat:"g" }} ₽ $</h6></td>
        </tr>
        <tr class="table-light">
            <td><h6 >Общая сумма:</h6></td>
            <td><h6 >¥ {{ goods_itog|floatformat:"g" }} ₽ $</h6></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    {% if appeal.status != 'В работе' %}
    <form method="post" id="update_form" >{% csrf_token %}</form>
    <a class="btn btn-success btn-sm shadow" href="{% url 'create_goods' appeal.pk %}" role="button">Добавить товар</a>
    <a href="javascript:void()" onclick="update_question()" class="btn btn-primary btn-sm shadow">Отправить в работу менеджеру</a>
    <script>
                        function update_question() {
                            if (confirm("Вы уверены?")) {
                                document.getElementById('update_form').submit()
                                }
                        }
</script>
    <a class="btn btn-secondary btn-sm shadow" href="{% url 'appeals' %}" role="button">Назад</a><br><br>
    {% else %}
    <a class="btn btn-secondary btn-sm shadow" href="{% url 'appeals' %}" role="button">Назад</a><br><br>
    {% endif %}
</div>
<div class="container">
    <div class="row g-0">
        {% if all_goods %}
        {% for good in all_goods %}
        <div class="col-sm-6">
            <div class="card border-secondary text-dark  mb-3 w-100 shadow p-1 rounded" style="max-width: 580px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        {% if good.photo_good %}
                        <img src="{{ good.photo_good.url }}" class="img-fluid rounded-start">
                        {% else %}
                        <img src="{% static 'main/images/No_image_available.svg' %}" class="img-fluid rounded-start">
                        {% endif %}
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div align="center">
                                <h5 class="card-title"><a href="#" class="text-decoration-none" id="list-employees">{{ good.name }}</a></h5>
                            </div>
                            <table class="table table-hover table-bordered mb-0">
                                <tbody>
                                <tr class="table-light">
                                    {% if good.price_rmb %}
                                    <td  width="160px">Цена за шт:</td>
                                    <td  width="40px">¥{{ good.price_rmb }}</td>
                                    {% else %}
                                    <td>Цена за шт:</td>
                                    <td>¥ 0</td>
                                    {% endif %}
                                </tr>
                                <tr class="table-light">
                                    {% if good.quantity %}
                                    <td>Всего штук:</td>
                                    <td>{{ good.quantity }}</td>
                                    {% else %}
                                    <td>Всего штук:</td>
                                    <td>0</td>
                                    {% endif %}
                                </tr>
                                <tr class="table-light">
                                    {% if good.price_delivery %}
                                    <td>Доставка по Китаю:</td>
                                    <td>¥{{ good.price_delivery }}</td>
                                    {% else %}
                                    <td>Доставка по Китаю:</td>
                                    <td>¥ 0</td>
                                    {% endif %}
                                </tr>
                                <tr class="table-light">
                                    {% if good.get_itog %}
                                    <td>Итог:</td>
                                    <td>¥{{ good.get_itog|floatformat:"2g" }}</td>
                                    {% else %}
                                    <td>Итог:</td>
                                    <td>¥ 0</td>
                                    {% endif %}
                                </tr>
                                <tr class="table-light">
                                    {% if good.price_purchase %}
                                    <td>Выкуп:</td>
                                    <td>¥{{ good.price_purchase }}</td>
                                    {% else %}
                                    <td>Выкуп:</td>
                                    <td>₽ 0</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="card-body">
                        <table class="table table-hover table-bordered">
                            <tbody>
                            <tr class="table-light">
                                {% if good.price_delivery_real %}
                                <td  width="160px">Доставка в РФ:</td>
                                <td  width="40px">¥{{ good.price_delivery_real }}</td>
                                {% else %}
                                <td>Доставка в РФ:</td>
                                <td>$ 0</td>
                                {% endif %}
                            </tr>
                            <tr class="table-light">
                                {% if good.price_delivery_real %}
                                <td>Упаковка:</td>
                                <td>{{ good.price_delivery_real }}</td>
                                {% else %}
                                <td>Упаковка:</td>
                                <td>$ 0</td>
                                {% endif %}
                            </tr>
                            <tr class="table-light">
                                {% if good.price_delivery_real %}
                                <td>Страховка:</td>
                                <td>{{ good.price_delivery_real }}</td>
                                {% else %}
                                <td>Страховка:</td>
                                <td>$ 0</td>
                                {% endif %}
                            </tr>
                            <tr class="table-light">
                                {% if good.price_delivery_real %}
                                <td>ПРР:</td>
                                <td>{{ good.price_delivery_real }}</td>
                                {% else %}
                                <td>ПРР:</td>
                                <td>$ 0</td>
                                {% endif %}
                            </tr>
                            <tr class="table-light">
                                {% if good.price_delivery_real %}
                                <td>Итого логистика:</td>
                                <td>{{ good.price_delivery_real }}</td>
                                {% else %}
                                <td>Итого логистика:</td>
                                <td>$ 0</td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-hover table-bordered">
                            <tbody>
                            <tr class="table-light">
                                {% if good.price_delivery_real %}
                                <td>Стоимость в РФ:</td>
                                <td>{{ good.price_delivery_real }}</td>
                                {% else %}
                                <td>Стоимость в РФ:</td>
                                <td>₽ 0</td>
                                {% endif %}
                            </tr>
                            <tr class="table-light">
                                {% if good.price_delivery_real %}
                                <td>Итого в РФ:</td>
                                <td>{{ good.price_delivery_real }}</td>
                                {% else %}
                                <td>Итого в РФ:</td>
                                <td>₽ 0</td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                        </div>
                </div>
                <div class="row g-0">
                    <div class="card-body">
                        {% if appeal.status != 'В работе' %}
                        {% if good.link_url %}
                        <a href="{{ good.link_url }}" class="card-text" target="_blank">{{ good.link_url|truncatechars:40 }}</a>
                        {% else %}
                        <p class="card-text">Ссылка: Не указано</p>
                        {% endif %}
                        {% else %}
                        <a href="#" class="card-text" target="_blank">{{ good.link_url|truncatechars:40 }}</a>
                        {% endif %}
                        {% if good.product_description %}
                        <p class="card-text">Описание: {{ good.product_description|truncatewords:30 }}</p>
                        {% else %}
                        <p class="card-text">Описание: Не указано</p>
                        {% endif %}
                        <p class="card-text"><small class="text-muted">{{ good.time_create }}</small></p>
                        <div class="row">
                            <div class="col-6">
                                {% if appeal.status != 'В работе' %}
                                <a href="{% url 'card_goods' appeal.pk good.pk %}" class="btn btn-success btn-sm">Редактировать</a>
                                {% else %}
                                {% endif %}
                            </div>
                            <div class="col-6">
                                <div align="right">
                                    {% if appeal.status != 'В работе' %}
                                    <form id="delete_form" action="{% url 'delete_goods' appeal.pk good.pk %}" method="post">{% csrf_token %}</form>
                                    <a href="javascript:void()" onclick="delete_question()" class="btn btn-danger btn-sm">Удалить</a>
                                    <script>
                        function delete_question() {
                            if (confirm("Вы уверены?")) {
                                document.getElementById('delete_form').submit()
                                }
                        }
                    </script>
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<p>Нет товаров</p>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Вы уверены?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>

            </div>
        </div>
    </div>
</div>
{% endblock %}