{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h2>Редактирование заявки: {{ appeal.tag }}</h2>
<h6>Статус заявки: {{ appeal.status }}</h6>
<h6 >Клиент: {{ client_fio }}</h6>
<h6 >Менеджер: {{ manager_fio }}</h6>
<h6 >Количество позиций: {{ all_goods|length }}</h6>
<h6 >Сумма выкупа: {{ goods_vycup }}</h6>
<h6 >Сумма логистики: {{ goods_log }}</h6>
<h6 >Общая сумма: {{ goods_itog }}</h6>


{% if appeal.status != 'В работе' %}
<form method="post" id="update_form" >{% csrf_token %}</form>
<a class="btn btn-success" href="{% url 'create_goods' appeal.pk %}" role="button">Добавить товар</a>
<a href="javascript:void()" onclick="update_question()" class="btn btn-primary">Отправить в работу менеджеру</a>
<script>
                        function update_question() {
                            if (confirm("Вы уверены?")) {
                                document.getElementById('update_form').submit()
                                }
                        }
</script>
<a class="btn btn-secondary" href="{% url 'appeals' %}" role="button">Назад</a><br><br>
{% else %}
<a class="btn btn-success" href="#" role="button">Добавить товар</a>
<a class="btn btn-secondary" href="{% url 'appeals' %}" role="button">Назад</a><br><br>
{% endif %}
{% if all_goods %}
{% for good in all_goods %}
<div class="card text-dark bg-light mb-3 " style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-6">
            {% if good.photo_good %}
            <img src="{{ good.photo_good.url }}" class="img-fluid rounded-start" alt="Generic placeholder image">
            {% else %}
            <img src="{% static 'main/images/image-regular.svg' %}" class="img-fluid rounded-start" alt="Generic placeholder image">
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title"><a href="#" class="text-decoration-none" id="list-employees">{{ good.name }}</a></h5>
                {% if good.price_rmb %}
                <p class="card-text">Цена за шт: ¥ {{ good.price_rmb }}</p>
                {% else %}
                <p class="card-text">Цена за шт: ¥ 0</p>
                {% endif %}
                {% if good.quantity %}
                <p class="card-text">Всего штук: {{ good.quantity }}</p>
                {% else %}
                <p class="card-text">Всего штук: 0</p>
                {% endif %}
                {% if good.price_delivery %}
                <p class="card-text">Доставка по Китаю: {{ good.price_delivery }}</p>
                {% else %}
                <p class="card-text">Доставка по Китаю: 0</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="card-body">
                {% if appeal.status != 'В работе' %}
                {% if good.link_url %}
                <a href="{{ good.link_url }}" class="card-text" target="_blank">{{ good.link_url|truncatechars:40 }}</a>
                {% else %}
                <p class="card-text">Ссылка: Не указано</p>
                {% endif %}
                {% else %}
                <a href="#" class="card-text" target="_blank">{{ good.link_url|truncatechars:40 }}</a>
                {% endif %}
                {% if good.product_description %}
                <p class="card-text">Описание: {{ good.product_description|truncatewords:30 }}</p>
                {% else %}
                <p class="card-text">Описание: Не указано</p>
                {% endif %}
                <p class="card-text"><small class="text-muted">{{ good.time_create }}</small></p>
            <div class="row">
                <div class="col-6">
                    {% if appeal.status != 'В работе' %}
                    <a href="{% url 'card_goods' appeal.pk good.pk %}" class="btn btn-success">Редактировать</a>
                    {% else %}
                    <a href="#" class="btn btn-success">Редактировать</a>
                    {% endif %}
                </div>
                <div class="col-6">
                    {% if appeal.status != 'В работе' %}
                    <form id="delete_form" action="{% url 'delete_goods' appeal.pk good.pk %}" method="post">{% csrf_token %}</form>
                    <a href="javascript:void()" onclick="delete_question()" class="btn btn-danger">Удалить</a>
                    <script>
                        function delete_question() {
                            if (confirm("Вы уверены?")) {
                                document.getElementById('delete_form').submit()
                                }
                        }
                    </script>
                    {% else %}
                    <a href="#" class="btn btn-danger">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endfor %}
{% else %}
<p>Нет товаров</p>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Вы уверены?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>

      </div>
    </div>
  </div>
</div>
{% endblock %}