{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
        <h2>Добавление нового товара</h2>
        <form action="{% url 'main:create_goods' appeal_id_form %}" method="post" enctype="multipart/form-data" id="create-client-form">
                <span class="text-danger">{{ form.non_field_errors }}</span>
                {% csrf_token %}
                {{ form.name }}<br>
                <div class="text-danger">{{ form.name.errors }}</div>
                {{ form.photo_good }}<br>
                <div class="text-danger">{{ form.photo_good.errors }}</div>
                {{ form.link_url }}<br>
                <div class="text-danger">{{ form.link_url.errors }}</div>
                {{ form.product_description }}<br>
                <div class="text-danger">{{ form.product_description.errors }}</div>
                {{ form.quantity }}<br>
                <div class="text-danger">{{ form.quantity.errors }}</div>
                {{ form.price_rmb }}<br>
                <div class="text-danger">{{ form.price_rmb.errors }}</div>
                {% if user.role == 'Менеджер' %}
                {{ form.price_purchase }}<br>
                <div class="text-danger">{{ form.price_purchase.errors }}</div>
                {{ form.price_site }}<br>
                <div class="text-danger">{{ form.price_site.errors }}</div>
                {% endif %}
                {{ form.price_delivery }}<br>
                <div class="text-danger">{{ form.price_delivery.errors }}</div>
                {% if user.role == 'Менеджер' %}
                {{ form.price_delivery_real }}<br>
                <div class="text-danger">{{ form.price_delivery_real.errors }}</div>
                {{ form.price_delivery_rf }}<br>
                <div class="text-danger">{{ form.price_delivery_rf.errors }}</div>
                {{ form.price_delivery_rf_real }}<br>
                <div class="text-danger">{{ form.price_delivery_rf_real.errors }}</div>
                {% endif %}
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a class="btn btn-success" href="{% url 'main:card_appeal' appeal_id_form %}" role="button">Отменить</a>
        </form>
</div>
<script>
integer_positive_pattern('quantity')
integer_positive_pattern('price_rmb')
integer_positive_pattern('price_delivery')
integer_positive_pattern('price_purchase')
integer_positive_pattern('price_site')
integer_positive_pattern('price_delivery_real')
integer_positive_pattern('price_delivery_rf')
integer_positive_pattern('price_delivery_rf_real')
</script>
{% endblock %}