{% extends 'main/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h2>Редактирование заявки: {{ appeal.tag }}</h2>
<h6>Статус заявки: {{ appeal.status }}</h6>
<h6 >Клиент: {{ client_fio }}</h6>
<h6 >Менеджер: {{ manager_fio }}</h6>
<h6 >Количество позиций: {{ all_goods|length }}</h6>
<h6 >Сумма выкупа: {{ goods_vycup }}</h6>
<h6 >Сумма логистики: {{ goods_log }}</h6>
<h6 >Общая сумма: {{ goods_itog }}</h6>




<a class="btn btn-success" href="{% url 'create_goods' appeal.pk %}" role="button">Добавить товар</a>
<a class="btn btn-primary" href="{% url 'appeals' %}" role="button">Отправить в работу менеджеру</a>
<a class="btn btn-secondary" href="{% url 'appeals' %}" role="button">Назад</a><br><br>
{% if all_goods %}
{% for good in all_goods %}
<div class="card text-dark bg-light mb-3 " style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="{{ good.photo_good.url }}" class="img-fluid rounded-start" alt="Generic placeholder image">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title"><a href="#" class="text-decoration-none" id="list-employees">{{ good.name }}</a></h5>
                <p class="card-text">Цена за шт: ¥ {{ good.price_rmb }}</p>
                <p class="card-text">Всего штук: {{ good.quantity }}</p>
                <p class="card-text">Доставка по Китаю: {{ good.price_delivery }}</p>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="card-body">
                <a href="{{ good.link_url }}" class="card-text" target="_blank">{{ good.link_url|truncatechars:40 }}</a>
                <p class="card-text">Описание: {{ good.product_description|truncatewords:30 }}</p>
                <p class="card-text"><small class="text-muted">{{ good.time_create }}</small></p>
            <div class="row">
                <div class="col-6">
                    <a href="{% url 'card_goods' appeal.pk good.pk %}" class="btn btn-success">Редактировать</a>
                </div>
                <div class="col-6">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endfor %}
{% else %}
<p>Нет товаров</p>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Вы уверены?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
          <a href="{% url 'delete_goods' appeal.pk good.pk %}" class="btn btn-danger">Удалить</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>

      </div>
    </div>
  </div>
</div>
{% endblock %}