{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <a class="btn btn-success" href="{% url 'main:create_exchangerates' %}" role="button">Установить курс</a><br><br>
    <div class="row g-1 ">
        {% if currencies %}
        {% for currency in currencies %}
        <div class="col-sm-2">
            <div class="card text-dark bg-light mb-3 border-secondary shadow p-1 rounded" style="max-width: 280px;">
                <div class="row g-0">
                    <div class="col-3">
                    </div>
                    <div class="col-12">
                        <div class="card-body">
                            <h5 class="card-text">
                                ¥ {{ currency.yuan|default:"-" }}<br>
                                $ {{ currency.dollar|default:"-" }}<br>
                            </h5>
                            <p class="card-text"><small class="text-muted">{{ currency.time_create }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>Нет курсов</p>
        {% endif %}
    </div>
</div>
{% endblock %}