{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <form id="date_picker_in_monitoring" action="{% url 'monitoring_manager_report' manager.pk %}" method="get">
        <input id="month" type="hidden" name="month" value="{{ month }}">
        <input id="year" type="hidden" name="year" value="{{ year }}">
        <div class="row">
            <div class="col-auto m-2">
                <h2>{{ manager.last_name }} {{ manager.first_name }} {{ manager.patronymic }}</h2>
            </div>
            <div class="col-auto m-1">
                <input id="month_get" class="btn btn-secondary btn shadow dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" value="{{ month }}" type="button" style="font-size: 1.5rem;"/>
                <ul class="dropdown-menu dropdown-menu-dark">
                    {% for m in months %}
                    {% if m %}
                    <li><input class="dropdown-item" value="{{ m }}" name="month" type="button" onclick="edit_func_input('{{ m }}', 'month', 'date_picker_in_monitoring')"/></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-auto m-1">
                <input id="year_get" class="btn btn-secondary btn shadow dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" value="{{ year }}" type="button" style="font-size: 1.5rem;"/>
                <ul class="dropdown-menu dropdown-menu-dark">
                    {% for y in years %}
                    {% if y %}
                    <li><input class="dropdown-item" value="{{ y }}" name="year" type="button" onclick="edit_func_input('{{ y }}', 'year', 'date_picker_in_monitoring')"/></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-auto m-2">
            <h2>План сотрудника:</h2>
        </div>
        {% if manager_plan_value %}
        {% include "main/components/modal/modalEditPlanManager.html" %}
        <div class="col-auto m-1">
            <span class="btn btn-secondary btn shadow" role="button" data-bs-toggle="modal" data-bs-target="#edit-manager-plan" style="font-size: 1.5rem;">
                {{ manager_plan_value|default:"0" }}
            </span>
        </div>
        {% else %}
        {% include "main/components/modal/modalAddPlanManager.html" %}
        <div class="col-auto m-1">
            <span class="btn btn-secondary btn shadow" role="button" data-bs-toggle="modal" data-bs-target="#add-manager-plan" style="font-size: 1.5rem;">
                {{ manager_plan_value|default:"0" }}
            </span>
        </div>
        {% endif %}
    </div>
</div>
<div class="table-responsive m-3 scrollable" style="height:660px;">
    <table class="table table-bordered table-hover" >
        <thead class="table-warning align-middle">
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Чистая прибыль в компанию</th>
            <th scope="col">Привлеченные средства в компанию</th>
            <th scope="col">Количество привлеченных новых клиентов</th>
            <th scope="col">Количество заявок закупщикам</th>
            <th scope="col">Сумма выставленных КП</th>
            <th scope="col">Количество входящих качественных заявок</th>
            <th scope="col">Количество совершенных сделок по заявкам</th>
            <th scope="col">Количество отправленных грузов</th>
            <th scope="col">Количество выданных грузов</th>
            <th scope="col">Вес отправленных грузов</th>
            <th scope="col">Объем отправленных грузов</th>
            <th scope="col">Количество звонков</th>
            <th scope="col">Длительность разговоров</th>
        </tr>
        </thead>
        <tbody>
        {% for day in all_days %}
        {% if day in day_reports %}
        {% include "main/components/modal/modalEditReportManager.html" %}
        <tr data-bs-toggle="modal" data-bs-target="#edit-table-report-edit-{{ forloop.counter }}">
            {% for report in manager_reports %}
            {% if report.report_upload_date|date:"d.m.Y" == day %}
            <th> {{ report.report_upload_date|date:"d.m.Y" }} </th>
            <th> {{ report.net_profit_to_the_company|default:"" }} </th>
            <th> {{ report.raised_funds_to_the_company|default:"" }} </th>
            <th> {{ report.number_of_new_clients_attracted|default:"" }} </th>
            <th> {{ report.number_of_applications_to_buyers|default:"" }} </th>
            <th> {{ report.amount_of_issued_CP|default:"" }} </th>
            <th> {{ report.number_of_incoming_quality_applications|default:"" }} </th>
            <th> {{ report.number_of_completed_transactions_based_on_orders|default:"" }} </th>
            <th> {{ report.number_of_shipments_sent|default:"" }} </th>
            <th> {{ report.number_of_goods_issued|default:"" }} </th>
            <th> {{ report.weight_of_goods_sent|default:"" }} </th>
            <th> {{ report.volume_of_cargo_sent|default:"" }} </th>
            <th> {{ report.number_of_calls|default:"" }} </th>
            <th> {{ report.duration_of_calls|default:"" }} </th>
            {% endif %}
            {% endfor %}
        </tr>
        {% else %}
        {% include "main/components/modal/modalAddReportManager.html" %}
        <tr data-bs-toggle="modal" data-bs-target="#edit-table-report-{{ forloop.counter }}">
            <th >{{ day }}</th>
            <th colspan="20"></th>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function edit_func_input(value, name, form){
    document.getElementById(name).value = value;
    document.getElementById(form).submit();
    }
    let element = document.querySelectorAll('input[class="form-control"]');
    let maskOptions = {
        mask: Number,
        padFractionalZeros: false,  // if true, then pads zeros at end to the length of scale
        normalizeZeros: true,  // appends or removes zeros at ends
        radix: ',',  // fractional delimiter
        mapToRadix: ['.'],
        min: 0,
        max: 10000000000,
        thousandsSeparator: ' '
    };
    for (let i = 0; i < element.length; i++){
        let mask = IMask(element[i], maskOptions);
    }
</script>
{% endblock %}