{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="col-auto m-2">
    <a class="btn btn-primary btn shadow" href="{% url 'monitoring_leaderboard' %}" role="button">Таблица лидеров</a>
</div>
<div class="row g-0">
    {% for manager in managers %}
    <div class="col-sm-4">
        <div class="card text-dark bg-light mb-3 border-secondary shadow p-1 rounded" style="max-width: 350px;">
            <div class="row g-0">
                <div class="col-3">
                </div>
                <div class="col-12">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'monitoring_manager_report' manager.pk %}" class="stretched-link text-decoration-none" id="list-employees">{{ manager.last_name }} {{ manager.first_name }} {{ manager.patronymic }}</a></h5>
                        {{ manager.phone }}<br>
                        {{ manager.town }}<br>
                        {{ manager.role }}<br>
                        {% if manager.status %}
                        Активен<br>
                        {% else %}
                        Заблокирован<br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}