{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="modal fade" id="modal-htmx" tabindex="-1"
     aria-labelledby="modal-htmx-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id="hx-modal">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row g-2 mb-2 justify-content-left">
        <div class="col-auto">
            <a type="button" class="btn btn-sm btn-success"
               data-bs-toggle="modal"
               data-bs-target="#modal-htmx"
               hx-get="{% url 'bills:clients_add' %}"
               hx-target="#hx-modal">
                <i class="fa-solid fa-user"></i> Создание клиента
            </a>
        </div>
    </div>
</div>
<table class="table table-sm table-hover table-bordered align-middle" style="width:100%;border-spacing: 0;">
    <thead class="table-dark align-middle">
    <tr>
        <th scope="col" style="background-color: #111;">#</th>
        <th scope="col" style="background-color: #111;">Название</th>
        <th scope="col" >Тип</th>
        <th scope="col" >НДС</th>
        <th scope="col" >ИНН</th>
        <th scope="col" >Телефон</th>
        <th scope="col" >Менеджер</th>
    </tr>
    </thead>
    <tbody>
    {% for client in clients %}
    <tr class="curs" onclick="window.location='{{ client.get_absolute_url_client }}';">
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{client.name}}</td>
        <td>{{client.type}}</td>
        <td>{{client.nds_status}}</td>
        <td>{{client.inn}}</td>
        <td>{{client.phone_mask}}</td>
        <td>{{client.manager.get_FI}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}