<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteArticleLabel{{ article.pk }}">
            Вы уверены, что хотите удалить артикул?
            <br>
            <i class="fa-solid fa-truck-arrow-right"></i> {{ article.article }}
        </h5>
        <form id="delete_article_form{{ article.pk }}" action="{% url 'analytics:delete_table_article' article.pk %}?{{ request.META.QUERY_STRING }}" method="post">
            {% csrf_token %}
        </form>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-footer">
        <button form="delete_article_form{{ article.pk }}" type="submit" class="btn btn-danger">Удалить</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
    </div>
</div>
