<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="amount-fund-Label">Информация по сумме фонда (не зависит от уже поставленных фильтров)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        Всего грузов с коэффициентом: {{ count_articles_with_factor }}
        <br>
        Сумма фонда: {{ amount_of_fund|floatformat:"2g" }} $
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
    </div>
</div>