
{% if user.role == 'Менеджер' or user.role == 'РОП' or user.role == 'Супер Администратор'%}
{% if article.paid_by_the_client_status == 'Не оплачено'  %}
<button type="button" class="btn btn-secondary btn-sm">
    {% elif article.paid_by_the_client_status == 'Оплачено частично'  %}
    <button type="button" class="btn btn-primary btn-sm">
        {% elif article.paid_by_the_client_status == 'Оплачено полностью'  %}
        <button type="button" class="btn btn-success btn-sm">
            {% endif %}
            {{ article.paid_by_the_client_status }}
        </button>
        {% endif %}
