<div class="row justify-content-start g-1">
    <div class="col-auto">
        <input id="article_search" class="form-control" type="text" name="q" placeholder="Поиск по артикулу" value="{{ q }}"
               hx-get="{% url 'analytics:carrier' %}" hx-trigger="change" hx-target="#hx-table"
               hx-indicator="#content-spinner-loader"/>
    </div>
    <div class="col-auto">
        <i class="fa-solid fa-truck"></i><span class="d-inline-flex ms-md-auto p-2">Грузов: {{ table_paginator.count }}</span>
    </div>
    <div class="col-auto">
        <i class="fa-solid fa-weight-hanging"></i><span class="d-inline-flex ms-md-auto p-2">Вес: {{ all_weight|floatformat:"2g" }} кг</span>
    </div>
    <div class="col-auto">
        <i class="fa-solid fa-v"></i><span class="d-inline-flex ms-md-auto p-2">Объем: {{ all_volume|floatformat:"2g" }} м3</span>
    </div>
    <div class="col-auto">
        <i class="fa-solid fa-person-digging"></i><span class="d-inline-flex ms-md-auto p-2">ПРР: ₽{{ all_prr|floatformat:"2g" }}</span>
    </div>
    <div class="col-auto">
        <i class="fa-solid fa-truck-fast"></i><span class="d-inline-flex ms-md-auto p-2">ТАТ: ₽{{ all_tat|floatformat:"2g" }}</span>
    </div>
<!--    <div class="col-auto">-->
<!--        <select hx-get="{% url 'analytics:carrier' %}"-->
<!--          hx-target="#calls-table"-->
<!--          hx-trigger="change"-->
<!--          hx-swap="innerHTML"-->
<!--          hx-push-url="true"-->
<!--                id="page_size" name="page_size" class="form-select form-select-md">-->
<!--            <option value="20" {% if page_size == '20' %}selected{% endif %}>20</option>-->
<!--            <option value="30" {% if page_size == '30' %}selected{% endif %}>30</option>-->
<!--            <option value="50" {% if page_size == '50' %}selected{% endif %}>50</option>-->
<!--            <option value="100" {% if page_size == '100' %}selected{% endif %}>100</option>-->
<!--        </select>-->
<!--    </div>-->
</div>
<div class="log-table">
    <div class="logistic-table-body" >
        <table class="logistic-table" style="{% if user.role == 'Логист' %}font-size: 0.74rem;{% else %}font-size: 0.8rem;{% endif %}">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Артикул</th>
                <th scope="col">Кол-во дней без оплаты</th>
                <th scope="col" >Менеджер</th>
                <th scope="col" >Пере-возчик</th>
                <th scope="col" >Дорога</th>
                <th scope="col" >Статус</th>
                <th scope="col">Наимено-вание товара</th>
                <th scope="col">Кол-мест</th>
                <th scope="col">Вес, кг</th>
                <th scope="col">Объем, м3</th>
                <th scope="col">Тариф пере-возки</th>
                <th scope="col">Тариф пере-возки кл-у</th>
                <th scope="col">Цена товара</th>
                <th scope="col">Цена стра-ховки</th>
                <th scope="col">Цена упа-ковки</th>
                <th scope="col">Дата отправки с Китая</th>
                <th scope="col">Итоговая стоимость перевозки</th>
                <th scope="col">Адрес-я доставка</th>
                <th scope="col">ПРР</th>
                <th scope="col">Оплата ТАТ</th>
                <th scope="col">Оплачено клиентом</th>
                {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
                <th scope="col">Оплачено перевоз-чику</th>
                {% endif %}
                <th scope="col">Дата прибытия груза в РФ</th>
                <th scope="col">Дата выдачи груза</th>
                <th scope="col">Кол-во дней в пути</th>
                {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
                <th scope="col">Удаление</th>
                {% endif %}
            </tr>
            </thead>
            <tbody id="hx-tbody">
            {% if all_articles %}
            {% for article in all_articles %}
            <tr>
                <th id="article-{{ article.pk }}" scope="row"
                    data-bs-toggle="modal" data-bs-target="#edit"
                    hx-get="{% url 'analytics:edit_article' article.pk %}"
                    hx-target="#hx-modal-edit-article-for-logist">
                    {{ forloop.counter }}
                </th>
                {% if article.get_number_of_days_without_payment > 7 %}
                {% if article.paid_by_the_client_status == 'Оплачено полностью' %}
                <td>
                    {{ article.article }}
                </td>
                {% else %}
                <td style="background: #dc3545;">
                    {{ article.article }}
                </td>
                {% endif %}
                {% else %}
                <td>
                    {{ article.article }}
                </td>
                {% endif %}
                {% if article.get_number_of_days_without_payment %}
                {% if article.get_number_of_days_without_payment > 7 %}
                <td bgcolor="#dc3545">
                    <span>{{ article.get_number_of_days_without_payment }}</span>
                </td>
                {% else %}
                {% if article.paid_by_the_client_status == 'Оплачено полностью' %}
                <td>
                    {{ article.get_number_of_days_without_payment }}
                </td>
                {% else %}
                <td bgcolor="#dc3545">
                    <span>{{ article.get_number_of_days_without_payment }}</span>
                </td>
                {% endif %}
                {% endif %}
                {% else %}
                <td>
                    {{ article.get_number_of_days_without_payment }}
                </td>
                {% endif %}
                {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
                <td data-bs-toggle="modal" data-bs-target="#edit"
                    hx-get="{% url 'analytics:edit_article' article.pk %}" hx-target="#hx-modal-edit-article-for-logist">
                    {{ article.responsible_manager|default:"" }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#edit"
                    hx-get="{% url 'analytics:edit_article' article.pk %}" hx-target="#hx-modal-edit-article-for-logist">
                    {{ article.carrier|default:"" }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#edit"
                    hx-get="{% url 'analytics:edit_article' article.pk %}" hx-target="#hx-modal-edit-article-for-logist">
                    {{ article.path_format|default:"" }}
                </td>
                {% else %}
                <td>
                    {{ article.responsible_manager|default:"" }}
                </td>
                <td>
                    {{ article.carrier|default:"" }}
                </td>
                <td>
                    {{ article.path_format|default:"" }}
                </td>
                {% endif %}
                {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
                <td>
                    {% if article.status == 'В пути' %}
                    <span class="btn btn-primary btn-sm" onclick="location.href='{% url 'analytics:update_article' article.pk %}?{{ request.META.QUERY_STRING }}'">
                        {{ article.status }}
                    </span>
                    {% elif article.status == 'Прибыл в РФ' %}
                    <span class="btn btn-danger btn-sm" onclick="location.href='{% url 'analytics:update_article' article.pk %}?{{ request.META.QUERY_STRING }}'">
                        {{ article.status }}
                    </span>
                    {% elif article.status == 'Выдан' %}
                    <span class="btn btn-success btn-sm">
                        {{ article.status }}
                    </span>
                    {% endif %}
                </td>
                {% else %}
                <td>
                    {% if article.status == 'В пути' %}
                    <span class="btn btn-primary btn-sm">{{ article.status }}</span>
                    {% elif article.status == 'Прибыл в РФ' %}
                    <span class="btn btn-danger btn-sm">{{ article.status }}</span>
                    {% elif article.status == 'Выдан' %}
                    <span class="btn btn-success btn-sm">{{ article.status }}</span>
                    {% endif %}
                </td>
                {% endif %}
                <td>{{ article.name_goods|default:"" }}</td>
                <td>{{ article.number_of_seats|floatformat:"0g" }}</td>
                <td>{{ article.weight }}</td>
                <td>{{ article.volume|floatformat:"3g" }}</td>
                <td>{{ article.get_short_name_transportation_tariff }}</td>
                {% if user.role == 'Логист' %}
                <td style="background: #3dad32;">{{ article.transportation_tariff_for_clients|default:"" }}</td>
                {% else %}
                {% if request.user == article.responsible_manager or user.role == 'Супер Администратор' %}
                <td data-bs-toggle="modal" data-bs-target="#modal-main"
                    hx-get="{% url 'analytics:edit_transportation_tariff_for_clients' article.pk %}"
                    hx-target="#hx-modal-main"
                    style="background: #3dad32;color: white;">
                    {{ article.transportation_tariff_for_clients|default:"" }}
                </td>
                {% else %}
                <td style="background: #3dad32;color: white;">{{ article.transportation_tariff_for_clients|default:"" }}</td>
                {% endif %}
                {% endif %}
                <td>{{ article.cost_goods|floatformat:"2g"|default:"" }}</td>
                <td>{{ article.insurance_cost|floatformat:"2g"|default:"" }}</td>
                <td>{{ article.packaging_cost|default:"" }}</td>
                <td>{{ article.time_from_china|date:"d F Y" }}</td>
                <td>${{ article.get_short_name_total_cost|floatformat:"0g"}}</td>
                <td>{% if article.address_transportation_cost %}${%endif%}{{ article.address_transportation_cost|default:""|floatformat:"1g"}}</td>
                {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
                <td data-bs-toggle="modal" data-bs-target="#edit"
                    hx-get="{% url 'analytics:edit_article' article.pk %}" hx-target="#hx-modal-edit-article-for-logist">
                    {% if article.prr %}₽{%endif%}{{ article.prr|default:"" }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#edit"
                    hx-get="{% url 'analytics:edit_article' article.pk %}" hx-target="#hx-modal-edit-article-for-logist">
                    {% if article.tat_cost %}₽{%endif%}{{ article.tat_cost|default:"" }}
                </td>
                {% if article.responsible_manager %}
                <td data-bs-toggle="modal" data-bs-target="#modal-main"
                    hx-get="{% url 'analytics:edit_table_manager_article' article.pk %}"
                    hx-target="#hx-modal-main"
                    id="td-paid-by-the-client-status-{{ article.pk }}">
                    {% if article.paid_by_the_client_status == 'Не оплачено'  %}
                    <span class="btn btn-secondary btn-sm" style="font-size: 0.74rem;">{{ article.paid_by_the_client_status }}</span>
                    {% elif article.paid_by_the_client_status == 'Оплачено частично'  %}
                    <span class="btn btn-primary btn-sm" style="font-size: 0.74rem;">{{ article.paid_by_the_client_status }}</span>
                    {% elif article.paid_by_the_client_status == 'Оплачено полностью'  %}
                    <span class="btn btn-success btn-sm" style="font-size: 0.74rem;">{{ article.paid_by_the_client_status }}</span>
                    {% endif %}
                </td>
                {% else %}
                <td id="td-paid-by-the-client-status-{{ article.pk }}">
                    {% if article.paid_by_the_client_status == 'Не оплачено'  %}
                    <span class="btn btn-secondary btn-sm" style="font-size: 0.74rem;">{{ article.paid_by_the_client_status }}</span>
                    {% elif article.paid_by_the_client_status == 'Оплачено частично'  %}
                    <span class="btn btn-primary btn-sm" style="font-size: 0.74rem;">{{ article.paid_by_the_client_status }}</span>
                    {% elif article.paid_by_the_client_status == 'Оплачено полностью'  %}
                    <span class="btn btn-success btn-sm" style="font-size: 0.74rem;">{{ article.paid_by_the_client_status }}</span>
                    {% endif %}
                </td>
                {% endif %}
                <td data-bs-toggle="modal" data-bs-target="#edit"
                    hx-get="{% url 'analytics:edit_article' article.pk %}" hx-target="#hx-modal-edit-article-for-logist">
                    {% if article.payment_to_the_carrier_status == 'Не оплачено'  %}
                    <span class="btn btn-secondary btn-sm" style="font-size: 0.74rem;">{{ article.payment_to_the_carrier_status }}</span>
                    {% elif article.payment_to_the_carrier_status == 'Оплачено'  %}
                    <span class="btn btn-success btn-sm" style="font-size: 0.74rem;">{{ article.payment_to_the_carrier_status }}</span>
                    {% endif %}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#edit"
                    hx-get="{% url 'analytics:edit_article' article.pk %}" hx-target="#hx-modal-edit-article-for-logist">
                    {% if article.time_cargo_arrival_to_RF %}
                    {{ article.time_cargo_arrival_to_RF|date:"d F Y" }}
                    {% endif %}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#edit"
                    hx-get="{% url 'analytics:edit_article' article.pk %}" hx-target="#hx-modal-edit-article-for-logist">
                    {% if article.time_cargo_release %}
                    {{ article.time_cargo_release|date:"d F Y" }}
                    {% endif %}
                </td>
                {% elif user.role == 'РОП' or user.role == 'Супер Администратор' or user.role == 'Менеджер'%}
                <td>
                    {% if article.prr %}₽{%endif%}{{ article.prr|default:"" }}
                </td>
                <td>
                    {% if article.tat_cost %}₽{%endif%}{{ article.tat_cost|default:"" }}
                </td>
                {% if article.responsible_manager %}
                <td data-bs-toggle="modal" data-bs-target="#modal-main"
                    hx-get="{% url 'analytics:edit_table_manager_article' article.pk %}"
                    hx-target="#hx-modal-main"
                    id="td-paid-by-the-client-status-{{ article.pk }}">
                    <!--                <td>-->
                    {% if user.role == 'Менеджер' or user.role == 'РОП' or user.role == 'Супер Администратор'%}
                    {% if article.paid_by_the_client_status == 'Не оплачено'  %}
                    <button type="button" class="btn btn-secondary btn-sm">
                        {% elif article.paid_by_the_client_status == 'Оплачено частично'  %}
                        <button type="button" class="btn btn-primary btn-sm">
                            {% elif article.paid_by_the_client_status == 'Оплачено полностью'  %}
                            <button type="button" class="btn btn-success btn-sm">
                                {% endif %}
                                {{ article.paid_by_the_client_status }}
                            </button>
                            {% endif %}
                </td>
                {% else %}
                <td id="td-paid-by-the-client-status-{{ article.pk }}">
                    <!--                <td>-->
                    {% if user.role == 'Менеджер' or user.role == 'РОП' or user.role == 'Супер Администратор'%}
                    {% if article.paid_by_the_client_status == 'Не оплачено'  %}
                    <button type="button" class="btn btn-secondary btn-sm">
                        {% elif article.paid_by_the_client_status == 'Оплачено частично'  %}
                        <button type="button" class="btn btn-primary btn-sm">
                            {% elif article.paid_by_the_client_status == 'Оплачено полностью'  %}
                            <button type="button" class="btn btn-success btn-sm">
                                {% endif %}
                                {{ article.paid_by_the_client_status }}
                            </button>
                            {% endif %}
                </td>
                {% endif %}
                <td>
                    {% if article.time_cargo_arrival_to_RF %}
                    {{ article.time_cargo_arrival_to_RF|date:"d F Y" }}
                    {% endif %}
                </td>
                <td>
                    {% if article.time_cargo_release %}
                    {{ article.time_cargo_release|date:"d F Y" }}
                    {% endif %}
                </td>
                {% endif %}
                <td>{{ article.get_number_of_days_on_the_way}}</td>
                {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
                <td style="text-align: center;" data-bs-toggle="modal" data-bs-target="#delete"
                    hx-get="{% url 'analytics:delete_article' article.pk %}" hx-target="#hx-modal-delete-article-for-logist">
                    <button class="btn btn-danger btn-sm" >
                        Удалить
                    </button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% if table_paginator_obj.has_other_pages %}
<nav aria-label="Навигация для таблиц">
    <ul class="pagination justify-content-center mt-1 mb-0">
        {% if table_paginator_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ table_paginator_obj.previous_page_number }}{{ set_query }}">&lt;</a></li>
        {% endif %}
        {% for p in table_paginator.page_range %}
        {% if table_paginator_obj.number == p %}
        <li class="page-item active"><a class="page-link" href="?page={{ p }}{{ set_query }}">{{ p }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ p }}{{ set_query }}">{{ p }}</a></li>
        {% endif %}
        {% endfor %}
        {% if table_paginator_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ table_paginator_obj.next_page_number }}{{ set_query }}">&gt;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}