<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-main-label">
            Ставки по товару<br>{{good.description}}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% if my_bids %}
        <div class="table-responsive" style="display: flex;align-items: center;justify-content: center;">
            <table class="table table-sm table-bordered align-middle g-1" align="center"
                   style="width:1100px;font-size: 1rem;align-items: center;border-radius: 4px;border: 1px solid #000;overflow-x: auto;">
                <thead class="align-middle table-dark">
                <tr align="center">
                    <th scope="col" style="background-color: #CED4DA;color: black;"><i class="fa-solid fa-road"></i>/<i class="fa-solid fa-cubes-stacked"></i></th>
                    {% for carrier in carriers %}
                    <th scope="col" style="background-color: #11101D">{{carrier.name}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody align="center">
                {% for road in roads %}
                <tr>
                    <th style="{% if road in my_roads %}background-color: #0d6efd;color: #fff;{% else %}background-color: #fff;color: #0d6efd;{% endif %}"><span>{{road.name}}</span></th>
                    {% for carrier in carriers %}
                    <td style="position :relative;z-index: 10;">
                        <input class="form-control border-radius-0 {% for bid in my_bids %}{% if bid.road.pk == road.pk and bid.carrier.pk == carrier.pk %}{% if bid.active %}active-bid{% endif %}{% if bid.bid == good.bid %} manager-bid {% endif %}{% endif %}{% endfor %}" type="text" name="rate" style="border: none;" disabled
                               value="{% for bid in my_bids %}{% if bid.road.pk == road.pk and bid.carrier.pk == carrier.pk %}{{ bid.bid|default:'' }}{% endif %}{% endfor %}">
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>Нет ставок для данного товара.</p>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
    </div>
</div>