<div class="modal-content" id="modal-bids">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-main-label">
            Закрытие запроса
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form method="post" id="close_request_form" action="{% url 'analytics:request_status_in_close' my_request.pk %}">
            {% csrf_token %}
            <div>
                Выберите причину закрытия
            </div>
            <div>
                <select class="form-select" aria-label="Выберите причину закрытия"
                        name="reason"
                        hx-get="{% url 'analytics:request_status_in_close' my_request.pk %}"
                        hx-target="#modal-bids"
                        hx-swap="outerHTML">
                    {% for key, value in reasons.items %}
                    {% if key == my_select %}
                    <option value="{{key}}" selected>{{value}}</option>
                    {% else %}
                    <option value="{{key}}">{{value}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% if my_select == '6' %}
            <div class="mt-2">
                Выберите ставку
            </div>
            <div>
                <select class="form-select" aria-label="Выберите ставку" name="final_bid">
                    {% for bid in bids %}
                    {% if bid.bid != '-' %}
                    <option value="{{bid.pk}}">{{bid.bid}} [{{bid.carrier.name}} - {{bid.road.name}}]</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% endif %}
        </form>
    </div>
    <div class="modal-footer">
        <button form="close_request_form" type="submit" class="btn btn-success">Подтвердить</button>
        <!--        <button type="submit" class="btn btn-success">Подтвердить</button>-->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
    </div>
</div>