<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-main-label">
            Вы уверены, что хотите удалить запрос?
            <br>
            {{ my_request.name }}
        </h5>
        <form id="delete_logistic_request" action="{% url 'analytics:delete_logistic_requests' my_request.pk %}" method="post">
            {% csrf_token %}
        </form>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-footer">
        <button form="delete_logistic_request" type="submit" class="btn btn-danger">Удалить</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
    </div>
</div>