<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-main-label">
            Вы уверены, что хотите вернуть запрос менеджеру?<br>
            <span class="text-danger">После этого произойдет удаление сущестоющих ставок</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <form method="post" id="new_to_draft_form" action="{% url 'analytics:request_status_new_to_draft' my_request.pk %}">
            {% csrf_token %}
        </form>
    </div>
    <div class="modal-footer">
        <button form="new_to_draft_form" type="submit" class="btn btn-warning">Вернуть</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
    </div>
</div>