{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="modal fade" id="add_logistic_requests" tabindex="-1"
     aria-labelledby="add-logistic-requests-Label" aria-hidden="true">
    <div class="modal-dialog">
        <div id="hx-modal-logistic-requests">
        </div>
    </div>
</div>
{% if user.role != 'Логист' %}
<div class="container-fluid">
    <div class="row g-2 mb-2 justify-content-left">
        <div class="col-auto">
            <a type="button" class="btn btn-sm btn-success"
               data-bs-toggle="modal"
               data-bs-target="#add_logistic_requests"
               hx-get="{% url 'analytics:add_logistic_requests' %}"
               hx-target="#hx-modal-logistic-requests">
                <i class="fa-solid fa-share"></i> Создание запроса
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="table-responsive" style="border-radius: 4px;border: 1px solid #000;
            overflow-y: hidden;overflow-x: hidden;height: 740px;">
                <table class="table align-middle  table-hover g-1"
                       style="font-size: 0.8rem;">
                    <thead class="table-dark ">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Инициатор</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Ставка</th>
                        <th scope="col">Дата последнего обновления</th>
                    </tr>
                    </thead>
                    <tbody class="table-light">
                    {% for report in reports_work %}
                    <tr>
                        <th scope="row">
                            <a href="{{ report.get_absolute_url_request }}"
                               class="text-decoration-none" style="color: black;">
                                {{ forloop.counter }}
                            </a>
                        </th>
                        <td>
                            <a class="text-decoration-none" href="{{ report.get_absolute_url_request }}" style="color: black;font-size: 1rem;">
                                {% if report.notification %}<i class="fa-solid fa-circle-exclamation" style="color: red"></i>{% endif %}{{ report.name }}
                            </a>
                        </td>
                        <td>{{ report.initiator.get_FI }}</td>
                        <td>{{ report.status }}</td>
                        <td>{{ report.bid|default:"-" }}</td>
                        <td>{{ report.time_update }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3">
            <div class="table-responsive" style="border-radius: 4px;border: 1px solid #000;
            overflow-y: hidden;overflow-x: hidden;height: 740px;">
                <table class="table  align-middle  table-hover g-1"
                       style="font-size: 0.8rem;">
                    <thead class="table-dark" align="center">
                    <tr>
                        <th scope="col" colspan="2">Черновики</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for report in reports_draft %}
                    <tr>
                        <td align="center">
                            <a href="{{ report.get_absolute_url_request }}"
                               class="text-decoration-none" style="color: black;">
                                {% if report.notification %}<i class="fa-solid fa-circle-exclamation" style="color: red"></i>{% endif %}{{ report.name }}
                            </a>
                        </td>
                        <td align="center"><i class="fa-solid fa-trash" style="color: red;font-size: 14px;cursor: pointer;"></i></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid"
     hx-get="{% url 'analytics:logistic_requests_auto_update' %}"
     hx-trigger="every 5s"
     hx-swap="outerHTML">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive" style="border-radius: 4px;border: 1px solid #000;
            overflow-y: hidden;overflow-x: hidden;height: 740px;">
                <table class="table align-middle  table-hover g-1"
                       style="font-size: 0.8rem;">
                    <thead class="table-dark ">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Инициатор</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Ставка</th>
                        <th scope="col">Дата последнего обновления</th>
                    </tr>
                    </thead>
                    <tbody class="table-light">
                    {% for report in reports_work %}
                    <tr>
                        <th scope="row">
                            <a href="{{ report.get_absolute_url_request }}"
                               class="text-decoration-none" style="color: black;">
                                {{ forloop.counter }}
                            </a>
                        </th>
                        <td>
                            <a href="{{ report.get_absolute_url_request }}"
                               class="text-decoration-none" style="color: black;">
                                {{ report.name }}
                            </a>
                        </td>
                        <td>{{ report.initiator.get_FI }}</td>
                        <td>{{ report.status }}</td>
                        <td>{{ report.bid|default:"-" }}</td>
                        <td>{{ report.time_update }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}