<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="add-logistic-requests-Label">
            Создание запроса на просчет
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body mb-2">
        <form method="post" id="add_logistic_requests_form" action="{% url 'analytics:add_logistic_requests' %}">
            {% csrf_token %}
            {% for line in form %}
            {{ line.label }}
            {{ line }}
            {% endfor %}
        </form>
    </div>
    <div class="modal-footer">
        <button form="add_logistic_requests_form" type="submit" class="btn btn-success">Создать</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
    </div>
</div>