<form id="date_picker" method="get" action="{% url 'analytics:carrier' %}">
    <input id="status" type="hidden" name="status" value="{{ status_now }}">
    <input id="responsible_manager" type="hidden" name="responsible_manager" value="{{ responsible_manager_current }}">
    <input id="carrier" type="hidden" name="carrier" value="{{ carrier_now }}">
    <input type="hidden" name="paid_by_the_client" value="{{ paid_by_the_client_current }}">
    <input type="hidden" name="paid_to_the_carrier" value="{{ paid_to_the_carrier_current }}">
    <input type="hidden" name="filter_date" value="{{ filter_date_now }}">
    <input type="hidden" name="day_without_payment" value="{{ day_without_payment_now }}">
    <div class="row g-2 justify-content-start">
        <!--        <div class="col-auto">-->
        <!--            <input id="article_search" class="form-control" type="text" name="q" placeholder="Поиск по артикулу"-->
        <!--                   hx-get="{% url 'analytics:carrier' %}" hx-trigger="keyup changed delay:300ms" hx-target="#hx-table"/>-->
        <!--        </div>-->
        <div class="col-auto">
            <button id="statuses" class="btn btn-secondary btn-sm dropdown-toggle position-relative" data-bs-toggle="dropdown" aria-expanded="false" name="status" type="button" >
                {{ status_now }}
                {% if user.role != 'Логист'  %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ count_notifications }}
                </span>
                {% endif %}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><input class="dropdown-item" value="Статус прибытия" name="status" type="button" onclick="edit_func_input('Статус прибытия', 'status', 'date_picker')"/></li>
                <li><input class="dropdown-item" value="В пути" name="status" type="button" onclick="edit_func_input('В пути', 'status', 'date_picker')"/></li>
                <li><input class="dropdown-item" value="Прибыл в РФ" name="status" type="button" onclick="edit_func_input('Прибыл в РФ', 'status', 'date_picker')"/></li>
                <li><input class="dropdown-item" value="Выдан" name="status" type="button" onclick="edit_func_input('Выдан', 'status', 'date_picker')"/></li>
            </ul>
        </div>
        {% if user.role == 'РОП' or user.role == 'Супер Администратор' or user.role == 'Логист' %}
        <div class="col-auto">
            <button id="responsible_manager_get" class="btn btn-secondary btn-sm dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false" name="responsible_manager" type="button" >
                {% if responsible_manager_current == 'Все менеджеры' %}
                {{ responsible_manager_current }}
                {% else %}
                {% for man in managers %}
                {% if man.pk == responsible_manager_current %}
                {{ man.fi }}
                {% endif %}
                {% endfor %}
                {% endif %}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><input class="dropdown-item" value="Все менеджеры" name="responsible_manager" type="button" onclick="edit_func_input('Все менеджеры', 'responsible_manager', 'date_picker')"/></li>
                {% for man in managers %}
                <li><input class="dropdown-item" value="{{ man.fi }}" name="responsible_manager" type="button" onclick="edit_func_input('{{ man.pk }}', 'responsible_manager', 'date_picker')"/></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="col-auto">
            <button id="carriers" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" name="carrier" type="button" >
                {{ carrier_now }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><input class="dropdown-item" value="Все перевозчики" name="carrier" type="submit"/></li>
                <li><input class="dropdown-item" value="Ян" name="carrier" type="submit"/></li>
                <li><input class="dropdown-item" value="Валька" name="carrier" type="submit"/></li>
                <li><input class="dropdown-item" value="Мурад" name="carrier" type="submit"/></li>
                <li><input class="dropdown-item" value="Гелик" name="carrier" type="submit"/></li>
            </ul>
        </div>
        <div class="col-auto">
            <button id="paid_by_the_client" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" name="paid_by_the_client" type="button" >
                {{ paid_by_the_client_current }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><input class="dropdown-item" value="Оплата клиентом" name="paid_by_the_client" type="submit"/></li>
                <li><input class="dropdown-item" value="Оплачено полностью" name="paid_by_the_client" type="submit"/></li>
                <li><input class="dropdown-item" value="Оплачено частично" name="paid_by_the_client" type="submit"/></li>
                <li><input class="dropdown-item" value="Не оплачено" name="paid_by_the_client" type="submit"/></li>
            </ul>
        </div>
        {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
        <div class="col-auto">
            <button id="paid_to_the_carrier" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" name="paid_to_the_carrier" type="button" >
                {{ paid_to_the_carrier_current }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><input class="dropdown-item" value="Оплата перевозчику" name="paid_to_the_carrier" type="submit"/></li>
                <li><input class="dropdown-item" value="Оплачено" name="paid_to_the_carrier" type="submit"/></li>
                <li><input class="dropdown-item" value="Не оплачено" name="paid_to_the_carrier" type="submit"/></li>
            </ul>
        </div>
        {% endif %}
        <div class="col-auto" align="center">
            <button id="day_without_payment" class="btn btn-danger btn-sm dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false" type="button" >
                {{ day_without_payment_now }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><input class="dropdown-item" value="Просроченная оплата" name="day_without_payment" type="submit"/></li>
                <li><input class="dropdown-item" value="1 день и больше" name="day_without_payment" type="submit"/></li>
                <li><input class="dropdown-item" value="7 дней и больше" name="day_without_payment" type="submit"/></li>
            </ul>
        </div>
        <div class="col-auto">
            <button id="filter_date" class="btn btn-dark btn-sm dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false" type="button" >
                {{ filter_date_now }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><button class="dropdown-item" value="Дата отправки с Китая" type="submit" name="filter_date">Дата отправки с Китая</button></li>
                <li><button class="dropdown-item" value="Дата прибытия груза в РФ" type="submit" name="filter_date">Дата прибытия груза в РФ</button></li>
                <li><button class="dropdown-item" value="Дата выдачи груза" type="submit" name="filter_date">Дата выдачи груза</button></li>
            </ul>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto">
                    <label for="startDate" class="col-form-label">От</label>
                </div>
                <div class="col-auto">
                    <input id="startDate" class="form-control p-1" type="date" name="date" value="{{ date_current }}"/>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto">
                    <label for="endDate" class="col-form-label">До</label>
                </div>
                <div class="col-auto">
                    <input id="endDate" class="form-control p-1" type="date" name="end_date" value="{{ end_date_current }}"/>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
            function edit_func_input(value, name, form){
                document.getElementById(name).value = value;
                document.getElementById(form).submit();
            }
            form_filter = document.getElementById('date_picker')
            let startDate = document.getElementById('startDate')
            startDate.addEventListener('change',(e)=>{
                form_filter.submit()
                })
            let endDate = document.getElementById('endDate')
            endDate.addEventListener('change',(e)=>{
                form_filter.submit()
                })
</script>