<div class="modal fade" id="modalAddCargo" tabindex="-1" aria-labelledby="modalInputCarrierFile" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ручное добавление груза</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add_cargo" method="post" action="{% url 'analytics:add_cargo' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for line in form_add_cargo %}
                    {{ line.label }}
                    {{ line }}
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button form="add_cargo" type="submit" class="btn btn-primary">Добавить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>