<div class="row g-2 mb-3 align-items-center justify-content-end">
    <div class="col-4">
        <input name="name" type="text" class="form-control" autocomplete="off" required placeholder="Наименование">
    </div>
    <div class="col-3">
        <input name="count" type="number" class="form-control" autocomplete="off" required placeholder="Штук">
    </div>
    <div class="col-4">
        <input name="sum" type="text" class="form-control float-mask" autocomplete="off" required placeholder="Общая стоимость">
    </div>
    <div class="col-1 curs pb-1" style="display: flex;justify-content: center;font-size: 26px;">
        <span class="form-text"><i class="fa-solid fa-trash" style="color: red;"></i></span>
    </div>
</div>