<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-htmx-label">
            <i class="fa-solid fa-building"></i> Создание нашего Юр. лица
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body mb-2">
        <form method="post" id="add_entity_form" action="{% url 'bills:entity_add' %}">
            {% csrf_token %}
            <div class="row g-2">
                <div class="col-12">
                    <label for="name" class="form-label">Название</label>
                    <input name="name" type="text" id="name"  class="form-control" autocomplete="off" required>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-3">
                    <label class="form-label">Тип организации</label>
                    <select class="form-select" id="type" name="type" aria-label="Выберите тип организации">
                        <option selected value="ООО">ООО</option>
                        <option value="ИП">ИП</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="nds_status" class="form-label">Статус НДС</label>
                    <select class="form-select" id="nds_status" name="nds_status" aria-label="Выберите тип организации">
                        <option selected value="-">-</option>
                        <option value="c НДС">c НДС</option>
                        <option value="без НДС">без НДС</option>
                        <option value="оба">оба</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inn-mask" class="form-label">ИНН</label>
                    <input min="10" minlength="10" name="inn" type="text" id="inn-mask"  class="form-control" required>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-6">
                    <label for="cpp" class="form-label">КПП</label>
                    <input name="cpp" type="number" id="cpp"  class="form-control" autocomplete="off">
                </div>
                <div class="col-6">
                    <label for="ogrnip" class="form-label">ОГРНИП</label>
                    <input name="ogrnip" type="number" id="ogrnip"  class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12">
                    <label for="ur_address" class="form-label">Юридический адрес</label>
                    <input name="ur_address" type="text" id="ur_address"  class="form-control" autocomplete="off" required>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12">
                    <label for="fact_address" class="form-label">Фактический адрес</label>
                    <input name="fact_address" type="text" id="fact_address"  class="form-control" autocomplete="off" required>
                </div>
            </div>

            <div class="row g-2">
                <div class="col-12">
                    <label for="fio" class="form-label">ФИО</label>
                    <input name="fio" type="text" id="fio"  class="form-control" autocomplete="off" required>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12">
                    <label for="name_job" class="form-label">Наименование должности</label>
                    <input name="name_job" type="text" id="name_job"  class="form-control" autocomplete="off" required>
                </div>
            </div>
            <div class="row g-2 mb-3">
                <div class="col-6">
                    <label for="phone-mask" class="form-label">Телефон</label>
                    <input min="18" minlength="18" name="phone" type="text" id="phone-mask"  class="form-control" autocomplete="off" required>
                </div>
                <div class="col-6">
                    <label for="based_charter" class="form-label">На основании</label>
                    <input name="based_charter" type="text" id="based_charter"  class="form-control" value="Устава" autocomplete="off">
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12">
                    <label for="requisites-name" class="form-label">Название реквизитов</label>
                    <input name="requisites-name" type="text" id="requisites-name" class="form-control" autocomplete="off" required>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-4">
                    <label for="rs" class="form-label">Р/с</label>
                    <input name="rs" type="number" id="rs"  class="form-control" autocomplete="off" required>
                </div>
                <div class="col-4">
                    <label for="ks" class="form-label">К/с</label>
                    <input name="ks" type="number" id="ks"  class="form-control" autocomplete="off" required>
                </div>
                <div class="col-4">
                    <label for="bic" class="form-label">БИК</label>
                    <input name="bic" type="number" id="bic"  class="form-control" autocomplete="off" required>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12">
                    <label for="name_bank" class="form-label">Название банка</label>
                    <input name="name_bank" type="text" id="name_bank"  class="form-control" autocomplete="off" required>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button form="add_entity_form" type="submit" class="btn btn-success">Создать</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
    </div>
</div>
<script>
    phone_mask();
    inn_mask();
</script>
