{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Загрузить файл перевозчика
</button>
<button type="button" class="btn btn-dark ">
    Выгрузка отчета по грузам
</button>
<br>
{% endif %}
<br>
<form id="date_picker" method="get" action="{% url 'carrier' %}">
    <input type="hidden" name="status" value="{{ status_now }}">
    <input type="hidden" name="carrier" value="{{ carrier_now }}">
    <input type="hidden" name="paid_by_the_client" value="{{ paid_by_the_client_current }}">
    <input type="hidden" name="paid_to_the_carrier" value="{{ paid_to_the_carrier_current }}">
    <div class="row g-0 justify-content-around">
        <div class="col-auto">
            <input id="article_search" onkeyup="FilterFunc()"  class="form-control" type="text" name="article" placeholder="Поиск по артикулу"/>
        </div>
        <div class="col-auto">
            <button id="statuses" class="btn btn-secondary btn-sm dropdown-toggle p-2" data-bs-toggle="dropdown" aria-expanded="false" name="status" type="button" >
                {{ status_now }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><input class="dropdown-item" value="Все статусы" name="status" type="submit"/></li>
                <li><input class="dropdown-item" value="В пути" name="status" type="submit"/></li>
                <li><input class="dropdown-item" value="Прибыл в РФ" name="status" type="submit"/></li>
            </ul>
        </div>
        <div class="col-auto">
            <button id="carriers" class="btn btn-secondary btn-sm dropdown-toggle p-2" data-bs-toggle="dropdown" aria-expanded="false" name="carrier" type="button" >
                {{ carrier_now }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><input class="dropdown-item" value="Все перевозчики" name="carrier" type="submit"/></li>
                <li><input class="dropdown-item" value="Ян" name="carrier" type="submit"/></li>
                <li><input class="dropdown-item" value="Валька" name="carrier" type="submit"/></li>
                <li><input class="dropdown-item" value="Мурад" name="carrier" type="submit"/></li>
                <li><input class="dropdown-item" value="Гелик" name="carrier" type="submit"/></li>
            </ul>
        </div>
        <div class="col-auto">
            <button id="paid_by_the_client" class="btn btn-secondary btn-sm dropdown-toggle p-2" data-bs-toggle="dropdown" aria-expanded="false" name="paid_by_the_client" type="button" >
                {{ paid_by_the_client_current }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><input class="dropdown-item" value="Оплата клиентом" name="paid_by_the_client" type="submit"/></li>
                <li><input class="dropdown-item" value="Оплачено полностью" name="paid_by_the_client" type="submit"/></li>
                <li><input class="dropdown-item" value="Оплачено частично" name="paid_by_the_client" type="submit"/></li>
                <li><input class="dropdown-item" value="Не оплачено" name="paid_by_the_client" type="submit"/></li>
            </ul>
        </div>
        <div class="col-auto">
            <button id="paid_to_the_carrier" class="btn btn-secondary btn-sm dropdown-toggle p-2" data-bs-toggle="dropdown" aria-expanded="false" name="paid_to_the_carrier" type="button" >
                {{ paid_to_the_carrier_current }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><input class="dropdown-item" value="Оплата перевозчику" name="paid_to_the_carrier" type="submit"/></li>
                <li><input class="dropdown-item" value="Оплачено" name="paid_to_the_carrier" type="submit"/></li>
                <li><input class="dropdown-item" value="Не оплачено" name="paid_to_the_carrier" type="submit"/></li>
            </ul>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto">
                    <label for="startDate" class="col-form-label">От</label>
                </div>
                <div class="col-auto">
                    <input id="startDate" class="form-control" type="date" name="date" value="{{ date_current }}"/>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto">
                    <label for="endDate" class="col-form-label">До</label>
                </div>
                <div class="col-auto">
                    <input id="endDate" class="form-control" type="date" name="end_date" value="{{ end_date_current }}"/>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
            form_filter = document.getElementById('date_picker')
            let startDate = document.getElementById('startDate')
            startDate.addEventListener('change',(e)=>{
                form_filter.submit()
                })
            let endDate = document.getElementById('endDate')
            endDate.addEventListener('change',(e)=>{
                form_filter.submit()
                })
</script>

<div class="row justify-content-around">
    <div class="col-auto">
        <h6 class="d-inline-flex ms-md-auto p-2">Всего грузов: {{ all_articles|length }}</h6>
    </div>
    <div class="col-auto">
        <h6 class="d-inline-flex ms-md-auto p-2">Общий вес: {{ all_weight|floatformat:"2g" }}</h6>
    </div>
    <div class="col-auto">
        <h6 class="d-inline-flex ms-md-auto p-2">Общий объем: {{ all_volume|floatformat:"2g" }}</h6>
    </div>
    <div class="col-auto">
        <h6 class="d-inline-flex ms-md-auto p-2">Общий ПРР: {{ all_prr|floatformat:"2g" }}</h6>
    </div>
    <div class="col-auto">
        <h6 class="d-inline-flex ms-md-auto p-2">Общий ТАТ: {{ all_tat|floatformat:"2g" }}</h6>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
{% if message.error %}
<div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
        <strong>Техническая ошибка:</strong><br>
        <strong>"{{ message.error|join:"<br>" }}"</strong><br>
        <strong>Просьба, написать тех. поддержке со скриншотом ошибки и прикрепить файл, из-за которого это произошло</strong>
    </div>
</div>
{% endif %}
{% if message.success_articles %}
<div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
        <strong>Успешно добавлены <span class="badge bg-secondary">{{ message.success_articles|length }}</span></strong><br>
        {{ message.success_articles|join:", "}}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if message.warning_articles %}
<div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
        <strong>Ошибка добавления <span class="badge bg-secondary">{{ message.warning_articles|length }}</span></strong><br>
        {{ message.warning_articles|join:"<br>"}}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<span class="text-danger">{{ form.non_field_errors }}</span>
<span class="text-danger">{{ form.name_carrier.errors }}</span>
<span class="text-danger">{{ form.file_path.errors }}</span>
<div class="table-responsive m-0 scrollable" style="position:absolute;left:0px;height:700px;">
    <table id="myTable" class="table table-sm table-bordered table-striped table-hover">
        <thead class="table-dark align-middle">
        <tr>
            <th scope="col">#</th>
            <th scope="col" width="200px">Артикул</th>
            <th scope="col">Менеджер</th>
            <th scope="col">Перевозчик</th>
            <th scope="col">Дорога</th>
            <th scope="col" width="120px" style="text-align: center;">Статус</th>
            <th scope="col">Наимено-вание товара</th>
            <th scope="col">Кол-мест</th>
            <th scope="col">Вес, кг</th>
            <th scope="col">Объем, м3</th>
            <th scope="col">Тариф пере-возки</th>
            <th scope="col">Цена товара</th>
            <th scope="col">Цена стра-ховки</th>
            <th scope="col">Цена упа-ковки</th>
            <th scope="col">Дата отправки с Китая</th>
            <th scope="col">Итоговая стоимость перевозки</th>
            <th scope="col">Адресная доставка</th>
            <th scope="col" width="4%">ПРР</th>
            <th scope="col" width="4%">Оплата ТАТ</th>
            <th scope="col" width="170px">Оплачено клиентом</th>
            {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
            <th scope="col" width="170px">Оплачено перевоз-чику</th>
            {% endif %}
            <th scope="col">Дата прибытия груза в РФ</th>
            <th scope="col">Дата выдачи груза</th>
            <th scope="col">Кол-во дней в пути</th>
            {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
            <th scope="col">Удаление</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if all_articles %}
        {% for article in all_articles %}
        {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
        <div class="modal fade" id="edit-table-article-{{ article.pk }}" tabindex="-1" aria-labelledby="edit-table-article-Label-{{ article.pk }}" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edit-table-article-Label-{{ article.pk }}">Редактирование груза<br>{{ article.article }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% for fm in form_article %}
                        {% if fm.art == article.pk %}
                        <form method="post" id="edit-{{ article.pk }}" action="{% url 'edit_table_article' article.pk %}?{{ request.META.QUERY_STRING }}">
                            {% csrf_token %}
                            {% for line in fm.f %}
                            {{ line.label }}
                            {{ line }}<br>
                            {% endfor %}
                        </form>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button form="edit-{{ article.pk }}" type="submit" class="btn btn-primary">Изменить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <tr>
            <th id="article-{{ article.pk }}" scope="row">{{ forloop.counter }}</th>
            <td>
                {{ article.article }}
            </td>
            {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
            <td data-bs-toggle="modal" data-bs-target="#edit-table-article-{{ article.pk }}" style="text-align: center;">
                {{ article.get_FI_responsible_manager|default:"" }}
            </td>
            <td data-bs-toggle="modal" data-bs-target="#edit-table-article-{{ article.pk }}" style="text-align: center;">
                {{ article.carrier|default:"" }}
            </td>
            <td data-bs-toggle="modal" data-bs-target="#edit-table-article-{{ article.pk }}" style="text-align: center;">
                {{ article.path_format|default:"" }}
            </td>
            {% else %}
            <td>
                {{ article.get_FI_responsible_manager|default:"" }}
            </td>
            <td>
                {{ article.carrier|default:"" }}
            </td>
            <td>
                {{ article.path_format|default:"" }}
            </td>
            {% endif %}
            {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
            <td style="text-align: center;">
                {% if article.status == 'В пути' %}
                <p class="btn btn-primary btn-sm" onclick="location.href='{% url 'update_article' article.pk %}?{{ request.META.QUERY_STRING }}'">{{ article.status }}</p>
                {% else %}
                <p class="btn btn-secondary btn-sm" onclick="location.href='{% url 'update_article' article.pk %}?{{ request.META.QUERY_STRING }}'">{{ article.status }}</p>
                {% endif %}
            </td>
            {% else %}
            <td><p>{{ article.status }}</p></td>
            {% endif %}
            <td>{{ article.name_goods|default:"" }}</td>
            <td style="text-align: center;">{{ article.number_of_seats|floatformat:"0g" }}</td>
            <td>{{ article.weight }}</td>
            <td>{{ article.volume|floatformat:"2g" }}</td>
            <td>{{ article.transportation_tariff }}</td>
            <td>{{ article.cost_goods|floatformat:"2g"|default:"" }}</td>
            <td>{{ article.insurance_cost|floatformat:"2g"|default:"" }}</td>
            <td>{{ article.packaging_cost|default:"" }}</td>
            <td>{{ article.time_from_china|date:"d F Y" }}</td>
            <td>{{ article.total_cost|floatformat:"0g"}} $</td>
            <td>{{ article.address_transportation_cost|default:""|floatformat:"1g"}}{% if article.address_transportation_cost %} ${%endif%}</td>
            {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
            <td data-bs-toggle="modal" data-bs-target="#edit-table-article-{{ article.pk }}" style="text-align: center;">
                {{ article.prr|default:"" }}{% if article.prr %} ₽{%endif%}
            </td>
            <td data-bs-toggle="modal" data-bs-target="#edit-table-article-{{ article.pk }}" style="text-align: center;">
                {{ article.tat_cost|default:"" }}{% if article.tat_cost %} ₽{%endif%}
            </td>
            <td data-bs-toggle="modal" data-bs-target="#edit-table-article-{{ article.pk }}" style="text-align: center;">
                {{ article.paid_by_the_client_status }}
            </td>
            <td data-bs-toggle="modal" data-bs-target="#edit-table-article-{{ article.pk }}" style="text-align: center;">
                {{ article.payment_to_the_carrier_status }}
            </td>
            <td data-bs-toggle="modal" data-bs-target="#edit-table-article-{{ article.pk }}">
                {% if article.time_cargo_arrival_to_RF %}
                {{ article.time_cargo_arrival_to_RF|date:"d F Y" }}
                {% endif %}
            </td>
            <td data-bs-toggle="modal" data-bs-target="#edit-table-article-{{ article.pk }}">
                {% if article.time_cargo_release %}
                {{ article.time_cargo_release|date:"d F Y" }}
                {% endif %}
            </td>
            {% else %}
            <td style="text-align: center;">
                {{ article.prr|default:"" }}{% if article.prr %} ₽{%endif%}
            </td>
            <td style="text-align: center;">
                {{ article.tat_cost|default:"" }}{% if article.tat_cost %} ₽{%endif%}
            </td>
            <td style="text-align: center;">
                {% if user.role == 'Менеджер' %}
                <form action="{% url 'edit_table_manager_article' article.pk %}" method="get">
                    {% if article.paid_by_the_client_status == 'Не оплачено'  %}
                    <input class="btn btn-secondary btn-sm dropdown-toggle p-1" data-bs-toggle="dropdown" aria-expanded="false" value="{{ article.paid_by_the_client_status }}" name="paid_by_the_client_status" type="button" />
                    {% elif article.paid_by_the_client_status == 'Оплачено частично'  %}
                    <input class="btn btn-primary btn-sm dropdown-toggle p-1" data-bs-toggle="dropdown" aria-expanded="false" value="{{ article.paid_by_the_client_status }}" name="paid_by_the_client_status" type="button" />
                    {% elif article.paid_by_the_client_status == 'Оплачено полностью'  %}
                    <input class="btn btn-success btn-sm dropdown-toggle p-1" data-bs-toggle="dropdown" aria-expanded="false" value="{{ article.paid_by_the_client_status }}" name="paid_by_the_client_status" type="button" />
                    {% endif %}
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><input class="dropdown-item" value="Оплачено полностью" name="paid_by_the_client_status" type="submit"/></li>
                        <li><input class="dropdown-item" value="Оплачено частично" name="paid_by_the_client_status" type="submit"/></li>
                        <li><input class="dropdown-item" value="Не оплачено" name="paid_by_the_client_status" type="submit"/></li>
                    </ul>
                </form>
                {% elif user.role == 'РОП' or user.role == 'Супер Администратор' %}
                {% if article.paid_by_the_client_status == 'Не оплачено'  %}
                <span class="btn btn-secondary btn-sm p-2">{{ article.paid_by_the_client_status }}</span>
                {% elif article.paid_by_the_client_status == 'Оплачено частично'  %}
                <span class="btn btn-primary btn-sm p-2">{{ article.paid_by_the_client_status }}</span>
                {% elif article.paid_by_the_client_status == 'Оплачено полностью'  %}
                <span class="btn btn-success btn-sm p-2">{{ article.paid_by_the_client_status }}</span>
                {% endif %}
                {% endif %}
            </td>
            <td>
                {% if article.time_cargo_arrival_to_RF %}
                {{ article.time_cargo_arrival_to_RF|date:"d F Y" }}
                {% endif %}
            </td>
            <td>
                {% if article.time_cargo_release %}
                {{ article.time_cargo_release|date:"d F Y" }}
                {% endif %}
            </td>
            {% endif %}
            <td style="text-align: center;">{{ article.get_number_of_days_on_the_way}}</td>
            {% if user.role == 'Логист' or user.role == 'Супер Администратор' %}
            <td>
                <form id="delete_article_form{{ article.pk }}" action="{% url 'delete_article' article.pk %}?{{ request.META.QUERY_STRING }}" method="post">{% csrf_token %}</form>
                <p class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal3{{ article.pk }}" style="text-align: center;">Удалить</p>
                <div class="modal fade" id="exampleModal3{{ article.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel3{{ article.pk }}">Вы уверены, что хотите удалить артикул?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button form="delete_article_form{{ article.pk }}" type="submit" class="btn btn-danger">Удалить</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr align="center">
            <td colspan="25" >Нет данных</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Загрузить файл перевозчика</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.name_carrier }}<br>
                    {{ form.file_path }}
                </form>
            </div>
            <div class="modal-footer">
                <button form="add_form" type="submit" class="btn btn-primary">Загрузить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script>
    let element = document.querySelectorAll('input[id="id_prr"]');
    let maskOptions = {
        mask: Number,
        padFractionalZeros: false,  // if true, then pads zeros at end to the length of scale
        normalizeZeros: true,  // appends or removes zeros at ends
        radix: ',',  // fractional delimiter
        mapToRadix: ['.'],
        min: 0,
        max: 10000000000,
        thousandsSeparator: ' '
    };
    for (let i = 0; i < element.length; i++){
        let mask = IMask(element[i], maskOptions);
    }
    let element2 = document.querySelectorAll('input[id="id_tat_cost"]');
    for (let i = 0; i < element2.length; i++){
        let mask = IMask(element2[i], maskOptions);
    }
    function FilterFunc() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("article_search");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}