{% for good in goods %}
<tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td height="150" class="my_td">
        <input type="file" id="image-upload_{{good.pk}}" hidden
               name="photo_path_logistic_goods"
               hx-post="{% url 'analytics:edit_goods_logistic_requests' good.pk %}"
               hx-encoding='multipart/form-data'
               hx-trigger="change"
               hx-swap="none"/>
        <img src="{% if good.photo_path_logistic_goods %}{{ good.photo_path_logistic_goods.url }}{% else %}{% endif %}"
             id="image-preview_{{good.pk}}" class="image_for_request" style="">
        <div class="middle">
            <label for="image-upload_{{good.pk}}" class="form-control" style="border: none;font-size: 50px;">
                <i class="fa-regular fa-image"></i>
            </label>
        </div>
        <div class="top-right">
            <i class="fa-solid fa-rectangle-xmark" style="color: red;font-size: 25px;"></i>
        </div>
        <script>
                    var input = document.getElementById('image-upload_{{good.pk}}');
                    input.addEventListener('change', function() {
                        var file = this.files[0];
                        var reader = new FileReader();
                        reader.onloadend = function() {
                            document.getElementById('image-preview_{{good.pk}}').src = reader.result;
                            }
                        reader.readAsDataURL(file);
                    });
                    </script>
    </td>
    <td>
        <textarea class="form-control" style="border: none;"
                              name="description"
                              id="description"
                              hx-post="{% url 'analytics:edit_goods_logistic_requests' good.pk %}"
                              hx-trigger="keyup changed delay:0.5s"
                              hx-swap="none"
                              oninput="auto_grow(this)">
                        {{ good.description|default:'' }}
                    </textarea>
    </td>
    <td>
        <input class="form-control" style="border: none;" type="text"
               name="material"
               id="material"
               hx-post="{% url 'analytics:edit_goods_logistic_requests' good.pk %}"
               hx-trigger="keyup changed delay:0.5s"
               hx-swap="none"
               value="{{ good.material|default:'' }}"/>
    </td>
    <td>
        <input class="form-control" style="border: none;"type="text"
               name="number_of_packages"
               id="number_of_packages"
               hx-post="{% url 'analytics:edit_goods_logistic_requests' good.pk %}"
               hx-trigger="keyup changed delay:0.5s"
               hx-swap="none"
               value="{{ good.number_of_packages|default:'' }}"/>
    </td>
    <td>
        <input class="form-control" style="border: none;" type="text"
               name="quantity_in_each_package"
               id="quantity_in_each_package"
               hx-post="{% url 'analytics:edit_goods_logistic_requests' good.pk %}"
               hx-trigger="keyup changed delay:0.5s"
               hx-swap="none"
               value="{{ good.quantity_in_each_package|default:'' }}"/>
    </td>
    <td>
        <input class="form-control" style="border: none;" type="text"
               name="size_of_packaging"
               id="size_of_packaging"
               hx-post="{% url 'analytics:edit_goods_logistic_requests' good.pk %}"
               hx-trigger="keyup changed delay:0.5s"
               hx-swap="none"
               value="{{ good.size_of_packaging|default:'' }}"/>
    </td>
    <td>
        <input class="form-control" style="border: none;" type="text"
               name="gross_weight_of_packaging"
               id="gross_weight_of_packaging"
               hx-post="{% url 'analytics:edit_goods_logistic_requests' good.pk %}"
               hx-trigger="keyup changed delay:0.5s"
               hx-swap="none"
               value="{{ good.gross_weight_of_packaging|default:'' }}"/>
    </td>
    <td>
        <input class="form-control" style="border: none;" type="text"
               name="total_volume"
               id="total_volume"
               hx-post="{% url 'analytics:edit_goods_logistic_requests' good.pk %}"
               hx-trigger="keyup changed delay:0.5s"
               hx-swap="none"
               value="{{ good.total_volume|default:'' }}"/>
    </td>
    <td>
        <input class="form-control" style="border: none;" type="text"
               name="total_gross_weight"
               id="total_gross_weight"
               hx-post="{% url 'analytics:edit_goods_logistic_requests' good.pk %}"
               hx-trigger="keyup changed delay:0.5s"
               hx-swap="none"
               value="{{ good.total_gross_weight|default:'' }}"/>
    </td>
    <td>
        <input class="form-control" style="border: none;" type="text"
               name="total_quantity"
               id="total_quantity"
               hx-post="{% url 'analytics:edit_goods_logistic_requests' good.pk %}"
               hx-trigger="keyup changed delay:0.5s"
               hx-swap="none"
               value="{{ good.total_quantity|default:'' }}"/>
    </td>
    <td>
        <input class="form-control" style="border: none;"  type="text"
               name="trademark"
               id="trademark"
               hx-post="{% url 'analytics:edit_goods_logistic_requests' good.pk %}"
               hx-trigger="keyup changed delay:0.5s"
               hx-swap="none"
               value="{{ good.trademark|default:'' }}"/>
    </td>
    <td style="font-size: 1rem;">
        {{ good.time_create }}
    </td>
    <td hx-get="{% url 'analytics:delete_goods_logistic_requests' my_request.pk good.pk %}"
        hx-target="#hx-tbody">
        <i class="fa-solid fa-trash" style="color: red;cursor: pointer;"></i>
    </td>
</tr>
{% endfor %}